:host {
    .btn {
        position: absolute;
        left: 50%;
        right: 50%;
        background-color: #00000087 !important;
    }

    .container-img {
        position: absolute;
        top: 30%;
    }
}