<div class="">
    <img class="w-100 h-auto" src="../../assets/4k-wallpaper-bay-bird-s-eye-view-1698618 (3).jpg" />
    <div class="container-img w-100 h-50">
        <div class="row w-100 h-50">
            <div class="col">
                <button type="button principal" class="btn btn-outline-primary waves-effect">Primary</button>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-6">
                <button type="button principal" class="btn btn-outline-secondary waves-effect">Poster</button>
            </div>
            <div class="col-6">
                <button type="button principal" class="btn btn-outline-secondary waves-effect">Voir</button>
            </div>
        </div>
    </div>
</div>